#  <center> <u>Übung:</u> Pandas Basics

### 1) (L) Importiere `Pandas` und checke die `Version`

In [2]:
import pandas as pd

'1.2.1'

---

### 2) (M) Erstelle ein `DataFrame` und deklariere direkt die Einträge, sodass das `DataFrame` wie folgt aussieht

| |0 | 1 | 2 |
|-|-------|-------| -- |
|**pkw_id**|24|12| 57 |
|**marke**|bmw|audi| porsche |

In [5]:
df = pd.DataFrame({'0': ['24', 'bmw'],
                   '1': ['12', 'audi'],
                   '2': ['57', 'prosche']},
                  index=['pkw_id', 'marke'])

In [6]:
df

          0     1        2
pkw_id   24    12       57
marke   bmw  audi  prosche

---

### 3) (L) Vertausche nun die `Achsen`, sodass das `DataFrame`  und überschreibe damit das alte `DataFrame`

| |pkw_id | marke |
|-|-------|-------|
|0|24|bmw|
|1|12|audi|
|2|57|prosche|

In [10]:
df = df.transpose()
df

  pkw_id    marke
0     24      bmw
1     12     audi
2     57  prosche

### 4) (M) Lade den Datensatz von `uebung/cars.csv` und speicher in in die Variable `df_cars` und lass dir den `Kopf` ausgeben

Falls bei dir eine Spalte namens `Unnamed: 0` erscheint, verwende diese als neuen Index

In [19]:
df_cars = pd.read_csv('uebung/cars.csv', index_col='Unnamed: 0')
df_cars

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,...,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung,Unnamed: 23
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,...,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel...",NaN
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,...,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras...",NaN
2,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,...,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche...",NaN
3,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,...,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche...",NaN
4,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,...,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Volkswagen,Golf,14.900 €,93.500 km,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Neu,...,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Teilleder, Schwarz","Abstandstempomat,Alarmanlage,Ambiente-Beleucht...",NaN
9996,Audi,A4,17.990 €,96.500 km,07/2013,Benzin,Automatik,165 kW (224 PS),1.984 cm³,Neu,...,5.0,4/5,Euro6,4 (Grün),3-Zonen-Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Armlehne,Bi-Xenon Scheinwerfer,Bluetooth,B...",NaN
9997,Volkswagen,Golf,16.490 €,103.000 km,02/2014,Benzin,Schaltgetriebe,162 kW (220 PS),1.984 cm³,06/2023,...,5.0,2/3,Euro6,4 (Grün),Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Alarmanlage,Ambiente-Beleuchtung,Armlehne,...",NaN
9998,BMW,320,14.749 €,94.505 km,11/2011,Diesel,Automatik,135 kW (184 PS),1.995 cm³,01/2024,...,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Adaptives Kurvenlicht,Armlehne,Bluetooth,B...",NaN
9999,Volkswagen,Golf,12.950 €,84.500 km,11/2014,Benzin,Schaltgetriebe,110 kW (150 PS),1.395 cm³,Neu,...,5.0,4/5,NaN,NaN,2-Zonen-Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags",Stoff,"ABS,Adaptives Kurvenlicht,Armlehne,Berganfahra...",NaN

---

### 4) (M) Speicher das `df_cars DataFrame` mit dem Seperator `;` unter `uebung/ue1/df_ue_write.csv`, mit einer `Komprimierung` deiner Wahl ab

In [20]:
df_cars.to_csv('./uebung/ue1/df_ue_write.csv', sep=";", compression='zip')

---

### 5) (S) Lese das gespeicherte `DataFrame` ein. Es soll jedoch nur die Spalte `marke` eingelesen werden

In [21]:
pd.read_csv('./uebung/ue1/df_ue_write.csv', sep=';', compression='zip', usecols=['marke'])

              marke
0        Volkswagen
1        Volkswagen
2     Mercedes-Benz
3     Mercedes-Benz
4     Mercedes-Benz
...             ...
9995     Volkswagen
9996           Audi
9997     Volkswagen
9998            BMW
9999     Volkswagen

[10000 rows x 1 columns]