#  <center> <u>Übung:</u> Pandas Indexing

### 1) (L) Importiere `Pandas`

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

***

### 2) (L) Lade den Datensatz von `uebung/cars.csv` und lass dir den `Kopf` ausgeben

Falls bei dir eine Spalte namens `Unnamed: 0` erscheint, verwende diese als neuen Index

In [2]:
df = pd.read_csv('./uebung/cars.csv', index_col=0)
df.head()

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung,Unnamed: 23
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel...",NaN
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras...",NaN
2,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche...",NaN
3,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche...",NaN
4,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,53879.0,Silber Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten...",NaN

***

### 3) (L) Welche `Shape` hat das `DataFrame`

In [3]:
df.shape

(10000, 24)

***

### 4) (L) Lasse dir die `Info` zu dem `DataFrame` ausgeben

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   marke                    9541 non-null   object
 1   modell                   9541 non-null   object
 2   preis                    9523 non-null   object
 3   kilometer                9501 non-null   object
 4   erstzulassung            9466 non-null   object
 5   kraftstoffart            9523 non-null   object
 6   getriebe                 9522 non-null   object
 7   leistung                 9523 non-null   object
 8   hubraum                  9494 non-null   object
 9   hu                       8530 non-null   object
 10  plz                      9541 non-null   float64
 11  farbe                    9517 non-null   object
 12  anzahlderFahrzeughalter  7927 non-null   float64
 13  kategorie                9523 non-null   object
 14  anzahlSitzplaetze        9508 non-null   float64
 15  anzahlderTueren          9520 non-null   object
 16  schadstoffklasse         8589 non-null   object
 17  umweltplakette           9014 non-null   object
 18  klimatisierung           9087 non-null   object
 19  einparkhilfe             9444 non-null   object
 20  airbags                  9500 non-null   object
 21  innenausstattung         9521 non-null   object
 22  ausstattung              9522 non-null   object
 23  Unnamed: 23              0 non-null      float64
dtypes: float64(4), object(20)
memory usage: 1.9+ MB

***

### 5) (M) Wieviele Türen hat ein Auto durschnittlich?

In [6]:
df.anzahlSitzplaetze.mean()

4.717501051745899

***

### 6) (M) Lasse dir die Anzahl der Nicht-Leeren-Zeilen (not `Nan`) ausgeben

In [7]:
df.count(0)

marke                      9541
modell                     9541
preis                      9523
kilometer                  9501
erstzulassung              9466
kraftstoffart              9523
getriebe                   9522
leistung                   9523
hubraum                    9494
hu                         8530
plz                        9541
farbe                      9517
anzahlderFahrzeughalter    7927
kategorie                  9523
anzahlSitzplaetze          9508
anzahlderTueren            9520
schadstoffklasse           8589
umweltplakette             9014
klimatisierung             9087
einparkhilfe               9444
airbags                    9500
innenausstattung           9521
ausstattung                9522
Unnamed: 23                   0
dtype: int64

***

### 7) (M) Kreiere eine Liste aller einzigartigen Marken

In [8]:
df.marke.unique()

array(['Volkswagen', 'Mercedes-Benz', 'BMW', nan, 'Audi', 'Jeep', 'Ford',
       'Dodge', 'Seat', 'Suzuki', 'Opel', 'Porsche', 'Volvo', 'Hyundai',
       'Land Rover', 'Lancia', 'Smart', 'Skoda', 'Renault', 'Mazda',
       'Rover', 'Nissan', 'Cupra', 'Morgan', 'Rolls-Royce', 'Peugeot',
       'Ferrari', 'Kia', 'Iveco', 'Chevrolet', 'Dacia', 'Subaru',
       'Ligier', 'MINI', 'Corvette', 'Alfa Romeo', 'Jaguar', 'Fiat',
       'Isuzu', 'Toyota'], dtype=object)

***

### 8) (M) Lass dir die  `Anzahl der Autos` pro `Marke` ausgeben

In [9]:
df.marke.value_counts()

Volkswagen       6307
Mercedes-Benz    1081
Audi              999
BMW               942
Ford               45
Skoda              24
Seat               22
Opel               19
Volvo              14
Kia                 9
Porsche             8
Jeep                8
Cupra               7
Smart               6
MINI                5
Subaru              4
Mazda               4
Renault             3
Peugeot             3
Suzuki              3
Dodge               2
Ferrari             2
Hyundai             2
Dacia               2
Nissan              2
Land Rover          2
Alfa Romeo          2
Chevrolet           2
Iveco               2
Jaguar              1
Morgan              1
Toyota              1
Fiat                1
Ligier              1
Lancia              1
Isuzu               1
Rover               1
Corvette            1
Rolls-Royce         1
Name: marke, dtype: int64

***

### 9) (S) Lass dir alle `Modelle` und deren `Anzahl` der Marke `BMW` ausgeben
#### EINMAL mit dem Bool-Operator und einmal mit der Query-Funktion

#### 9.1 Mit bool-Operator

In [13]:
df[df['marke'] == 'BMW'].modell.value_counts()

320                  448
530                  431
118                    7
420                    4
545                    3
330                    3
520                    3
X2                     3
325                    3
218                    2
120                    2
Z4                     2
M3                     2
428                    1
316                    1
430                    1
iX                     1
525                    1
X5                     1
M135                   1
528                    1
X1                     1
X6                     1
435 Gran Coupé         1
640 Gran Coupé         1
740                    1
330 Gran Turismo       1
440                    1
220                    1
550                    1
125                    1
328                    1
335                    1
218 Gran Tourer        1
218 Active Tourer      1
318                    1
650 Gran Coupé         1
M4                     1
M550                   1
116                    1
X3                     1
216                    1
Name: modell, dtype: int64

#### 9.2 Mit Query-Funktion

In [14]:
df.query('marke == "BMW"').modell.value_counts()

320                  448
530                  431
118                    7
420                    4
545                    3
330                    3
520                    3
X2                     3
325                    3
218                    2
120                    2
Z4                     2
M3                     2
428                    1
316                    1
430                    1
iX                     1
525                    1
X5                     1
M135                   1
528                    1
X1                     1
X6                     1
435 Gran Coupé         1
640 Gran Coupé         1
740                    1
330 Gran Turismo       1
440                    1
220                    1
550                    1
125                    1
328                    1
335                    1
218 Gran Tourer        1
218 Active Tourer      1
318                    1
650 Gran Coupé         1
M4                     1
M550                   1
116                    1
X3                     1
216                    1
Name: modell, dtype: int64