#  <center> <u>Übung:</u> Pandas Grouping & Sorting

### 1) (L) Importiere `Pandas` und lade den Datensatz von `uebung/cars.csv` und lass dir den `Kopf` ausgeben

In [31]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [32]:
df = pd.read_csv('./uebung/cars.csv', index_col=0)
df.drop(['Unnamed: 23'], axis=1, inplace=True)
df.head()

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."
2,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
3,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
4,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,53879.0,Silber Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten..."

***

### 2) (L) Sortiere nach `Marken` und lasse dir die `Anzahl an Autos` ausgeben die dieser Marke entsprechen

In [33]:
ser_grouped1 = df.groupby("marke").size()
ser_grouped1

marke
Alfa Romeo          2
Audi              999
BMW               942
Chevrolet           2
Corvette            1
Cupra               7
Dacia               2
Dodge               2
Ferrari             2
Fiat                1
Ford               45
Hyundai             2
Isuzu               1
Iveco               2
Jaguar              1
Jeep                8
Kia                 9
Lancia              1
Land Rover          2
Ligier              1
MINI                5
Mazda               4
Mercedes-Benz    1081
Morgan              1
Nissan              2
Opel               19
Peugeot             3
Porsche             8
Renault             3
Rolls-Royce         1
Rover               1
Seat               22
Skoda              24
Smart               6
Subaru              4
Suzuki              3
Toyota              1
Volkswagen       6307
Volvo              14
dtype: int64

***

### 3) (L) Wieviele Land Rover enthält das `Series` von Aufgabe 2?
##### Ablesen zählt nicht, es geht um die Übung ;-)

In [34]:
ser_grouped1.loc['Land Rover']

2

***

### 3) (L) Wieviele unterschiedliche Marken befinden sich in dem `DataFrame` ?

In [35]:
len(df.groupby("marke").size().index)

39

***

### 4) (S) Sortiere nach `Marke` und `Modell` und lasse dir `pro Modell die Anzahl` ausgeben

In [36]:
ser_grouped2 = df.groupby(['marke', 'modell']).modell.count()

In [37]:
ser_grouped2

marke       modell
Alfa Romeo  Giulietta       2
Audi        A1              7
            A3            449
            A4            460
            A4 Allroad      1
                         ...
Volvo       S90             1
            V60             4
            V90             1
            XC60            6
            XC90            1
Name: modell, Length: 273, dtype: int64

***

### 5) (L) Lasse dir aus der `Series` von Aufgabe 4 `alle Modelle` der Marke `BMW` anzeigen.

In [38]:
ser_grouped2.loc['BMW']

modell
116                    1
118                    7
120                    2
125                    1
216                    1
218                    2
218 Active Tourer      1
218 Gran Tourer        1
220                    1
316                    1
318                    1
320                  448
325                    3
328                    1
330                    3
330 Gran Turismo       1
335                    1
420                    4
428                    1
430                    1
435 Gran Coupé         1
440                    1
520                    3
525                    1
528                    1
530                  431
545                    3
550                    1
640 Gran Coupé         1
650 Gran Coupé         1
740                    1
M135                   1
M3                     2
M4                     1
M550                   1
X1                     1
X2                     3
X3                     1
X5                     1
X6                     1
Z4                     2
iX                     1
Name: modell, dtype: int64

***

### 6) (L) Lasse dir aus der `Series` von Aufabe 4 die Anzahl aller `BMW 320` `Modelle` ausgeben

In [43]:
ser_grouped2.loc['BMW', '320']

448

***

### 7) (S) Erstelle `DataFrame` mit Multi-Index: `Index1 = marke`, `Index2 = modell`. Verwende zudem die Funktion `.agg` um dir die `Anzahl pro Modell` in eine Spalte speichern zu können

In [44]:
df_grouped = df.groupby(['marke', 'modell']).modell.agg([len])
df_grouped

                       len
marke      modell
Alfa Romeo Giulietta     2
Audi       A1            7
           A3          449
           A4          460
           A4 Allroad    1
...                    ...
Volvo      S90           1
           V60           4
           V90           1
           XC60          6
           XC90          1

[273 rows x 1 columns]

***

### 8) (S): Lasse dir aus dem in Aufgabe 7 erstellten `Dataframe` `alle Modelle` der Marke `Volkswagen`, `nach der Häufigkeit absteigend sortiert` ausgeben

In [49]:
df_grouped.loc['Volkswagen'].sort_values(by=['len'], ascending=False)

                  len
modell
Golf             3476
Passat Variant    469
Sharan            451
Caddy             446
Beetle            433
CC                433
T5 Transporter    433
Tiguan             48
Touran             25
T-Roc              13
Passat             12
Scirocco            9
Touareg             8
T5 Multivan         8
Arteon              7
Eos                 6
Golf Sportsvan      6
Amarok              5
Polo                5
T6 Multivan         3
Passat Alltrack     3
Phaeton             3
Crafter             2
T5 Caravelle        1
Passat CC           1
Tiguan Allspace     1