#  <center> <u>Übung:</u> Pandas Data Types & Missing Values

### 1) (L) Importiere `Pandas` und lade den Datensatz von `uebung/cars.csv` und lass dir den `Kopf` ausgeben

In [25]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [9]:
df = pd.read_csv('./uebung/cars.csv', index_col=0)
df.drop(['Unnamed: 23'], axis=1, inplace=True)
df.head()

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."
2,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
3,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
4,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,53879.0,Silber Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten..."

***

### 2) (L) Lasse dir die Datentypen sämtlicher Spalten ausgeben

In [10]:
df.dtypes

marke                       object
modell                      object
preis                       object
kilometer                   object
erstzulassung               object
kraftstoffart               object
getriebe                    object
leistung                    object
hubraum                     object
hu                          object
plz                        float64
farbe                       object
anzahlderFahrzeughalter    float64
kategorie                   object
anzahlSitzplaetze          float64
anzahlderTueren             object
schadstoffklasse            object
umweltplakette              object
klimatisierung              object
einparkhilfe                object
airbags                     object
innenausstattung            object
ausstattung                 object
dtype: object

***

### 3) (L) Lasse dir den Datentyp der Spalte `preis` des ersten Eintrags deines `DataFrames` ausgeben

In [11]:
type(df.loc[0, 'preis'])

str

***

### 4) (L) In welchen Zeilen befindet sich ein `Nan` Value in der Spalte `kilometer`?

In [12]:
df[pd.isnull(df.kilometer)]

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Mercedes-Benz,A 180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50739.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***

### 5) (M) Wieviele Autos bleiben übrig, wenn du alle Zeilen löscht, bei denen sich in der Spalte `preis` ein `Nan` Value befindet?

In [15]:
df = df.dropna(subset=['preis'])
df.shape

(9523, 23)

***

### 6) (M) Fülle alle `Nan` Values in der Spalte `kilometer` mit dem String `Unknown` und prüfe anschleißend ob sich immer noch `Nan` Values in der Spalte `kilometer` befinden

In [17]:
df['kilometer'] = df.kilometer.fillna("Unknown")

In [22]:
df[df.kilometer.isna()]

Empty DataFrame
Columns: [marke, modell, preis, kilometer, erstzulassung, kraftstoffart, getriebe, leistung, hubraum, hu, plz, farbe, anzahlderFahrzeughalter, kategorie, anzahlSitzplaetze, anzahlderTueren, schadstoffklasse, umweltplakette, klimatisierung, einparkhilfe, airbags, innenausstattung, ausstattung]
Index: []

In [24]:
df.kilometer.isna().unique()

array([False])