#  <center> <u>Übung:</u> Pandas Renaming & Combining

### 1) (L) Importiere `Pandas` und lade den Datensatz von `uebung/cars.csv` und lass dir den `Kopf` ausgeben

In [83]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [84]:
df = pd.read_csv('./uebung/cars.csv', index_col=0)
df.drop(['Unnamed: 23'], axis=1, inplace=True)
df.head()

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."
2,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
3,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten",Front- und Seiten-Airbags,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
4,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,53879.0,Silber Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten..."

***

### 2) (L) Ändere den Spaltennamen `leistung` zu `kw_ps`

In [85]:
df = df.rename(columns={'leistung': 'kw_ps'})

In [86]:
df.head(2)

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."

***

### 3) (L) Erstelle dir zwei `DataFrames`. Das erste `DataFrame` mit dem Name `df1` besteht aus den ersten 100 Zeilen des ursprünglichen `DataFrames df`. Das zweite namens `df2` aus den Zeilen 101-200.

In [87]:
df1 = df[:100]

In [88]:
df1.shape

(100, 23)

In [89]:
df2 = df[100:200]

In [90]:
df2.shape

(100, 23)

***

### 4) (M) Verbinde nun die beiden `DataFrames` `df1` und `df2` miteinander. Beim resultierenden `DataFrame` namens `df_conc` soll zuerst das `df2` erscheinend und anschleißend das `df1`. Der Index des resultierenden `DataFrames df_conc` soll bei 0 beginnen und bis zum ende durchgehend aufsteigend nummeriert sein.
#### Verwende nicht die `.append` Methode

In [91]:
df_conc = pd.concat([df2, df1], 
                    axis=0,
                    ignore_index=True)

In [92]:
df_conc

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,Volkswagen,Beetle,9.890 €,119.699 km,06/2012,"Benzin, E10-geeignet",Schaltgetriebe,77 kW (105 PS),1.197 cm³,Neu,13088.0,Gelb,2.0,Limousine,4.0,2/3,Euro5,4 (Grün),Klimaanlage,NaN,"Front-, Seiten- und weitere Airbags",Schwarz,"ABS,Ambiente-Beleuchtung,CD-Spieler,Elektr. Fe..."
1,Mercedes-Benz,GLK 250,16.998 €,60.000 km,10/2011,Diesel,Automatik,150 kW (204 PS),2.143 cm³,10/2022,13089.0,Silber Metallic,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Allradantrieb,Armlehne,Berganfahrassistent..."
2,Mercedes-Benz,S 500,29.870 €,69.500 km,06/2010,Benzin,Automatik,320 kW (435 PS),4.663 cm³,Neu,41564.0,Grau Metallic,3.0,Limousine,5.0,4/5,Euro5,4 (Grün),4-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Grau","ABS,Abstandstempomat,Abstandswarner,Adaptives ..."
3,Volkswagen,Tiguan,24.390 €,114.112 km,05/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,06/2023,25746.0,Schwarz,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro6,4 (Grün),3-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandstempomat,Alarmanlage,Allradantrieb..."
4,Volkswagen,Golf,19.900 €,96.000 km,05/2011,Benzin,Schaltgetriebe,199 kW (271 PS),1.984 cm³,Neu,86807.0,Blau Metallic,2.0,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Alarmanlage,Allradantrieb,Armlehne,Berganf..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Volkswagen,Golf,6.999 €,89.893 km,02/2008,Benzin,Automatik,75 kW (102 PS),1.595 cm³,11/2023,40880.0,Silber Metallic,2.0,Limousine,5.0,2/3,Euro4,4 (Grün),Klimaautomatik,NaN,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Bordcomputer,CD-Spieler,Elektr. Fensterheb..."
196,Mercedes-Benz,CLA 250,24.900 €,69.705 km,05/2015,Benzin,Automatik,155 kW (211 PS),1.991 cm³,Neu,24568.0,Weiß,2.0,Kombi,5.0,4/5,Euro6,4 (Grün),Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Braun","ABS,Abstandstempomat,Adaptives Kurvenlicht,All..."
197,Volkswagen,T6 Multivan,72.990 €,10.146 km,09/2020,Diesel,Automatik,146 kW (199 PS),1.968 cm³,Neu,94146.0,Schwarz Metallic,NaN,Van / Minibus,7.0,4/5,Euro6d-TEMP,NaN,Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Abstandstempomat,Abstandswarner,Alarmanlag..."
198,Volkswagen,Golf,17.750 €,73.200 km,02/2018,Benzin,Schaltgetriebe,110 kW (150 PS),1.498 cm³,Neu,91207.0,Grau,1.0,Kombi,5.0,4/5,Euro6c,4 (Grün),2-Zonen-Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandstempomat,Armlehne,Bluetooth,Bordco..."
199,BMW,428,24.900 €,59.082 km,09/2013,"Benzin, E10-geeignet",Schaltgetriebe,180 kW (245 PS),1.997 cm³,Neu,12683.0,Schwarz Metallic,NaN,Sportwagen / Coupé,4.0,2/3,Euro6,4 (Grün),2-Zonen-Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."

***

# Vorbereitung für Übung 5:

Im Folgenden bereite ich die Aufgabe 5 vor. Da ich aber will, dass du weißt was ich gemacht hab, während ich diese Aufgabe erstelle, zeige ich dir hier wie ich vorgegangen bin. Lese dir am besten kurz die Aufgabe 5 durch, was du da zu machen hast, damit du verstehst wieso ich diese Vorbereitung treffe.

#### 1) Ich erstelle unique ID's für jedes Auto der Liste df_conc

In [93]:
import random # musst du nicht installieren, ist eine standard python library

for i in range(len(df_conc)):
    # Hier wird eine zufällige Zahl zwischen 1.000.000 und 10.000.000 erstellt
    rand_int = random.randint(1000000, 10000000)
    # Diese Zahl wird dann in die neue Spalte car_id eingefügt
    df_conc.loc[i, 'car_id'] = rand_int

In [94]:
df_conc

,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung,car_id
0,Volkswagen,Beetle,9.890 €,119.699 km,06/2012,"Benzin, E10-geeignet",Schaltgetriebe,77 kW (105 PS),1.197 cm³,Neu,13088.0,Gelb,2.0,Limousine,4.0,2/3,Euro5,4 (Grün),Klimaanlage,NaN,"Front-, Seiten- und weitere Airbags",Schwarz,"ABS,Ambiente-Beleuchtung,CD-Spieler,Elektr. Fe...",4468601.0
1,Mercedes-Benz,GLK 250,16.998 €,60.000 km,10/2011,Diesel,Automatik,150 kW (204 PS),2.143 cm³,10/2022,13089.0,Silber Metallic,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Allradantrieb,Armlehne,Berganfahrassistent...",1930240.0
2,Mercedes-Benz,S 500,29.870 €,69.500 km,06/2010,Benzin,Automatik,320 kW (435 PS),4.663 cm³,Neu,41564.0,Grau Metallic,3.0,Limousine,5.0,4/5,Euro5,4 (Grün),4-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Grau","ABS,Abstandstempomat,Abstandswarner,Adaptives ...",4496368.0
3,Volkswagen,Tiguan,24.390 €,114.112 km,05/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,06/2023,25746.0,Schwarz,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro6,4 (Grün),3-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandstempomat,Alarmanlage,Allradantrieb...",3358847.0
4,Volkswagen,Golf,19.900 €,96.000 km,05/2011,Benzin,Schaltgetriebe,199 kW (271 PS),1.984 cm³,Neu,86807.0,Blau Metallic,2.0,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Alarmanlage,Allradantrieb,Armlehne,Berganf...",8465295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Volkswagen,Golf,6.999 €,89.893 km,02/2008,Benzin,Automatik,75 kW (102 PS),1.595 cm³,11/2023,40880.0,Silber Metallic,2.0,Limousine,5.0,2/3,Euro4,4 (Grün),Klimaautomatik,NaN,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Bordcomputer,CD-Spieler,Elektr. Fensterheb...",1388892.0
196,Mercedes-Benz,CLA 250,24.900 €,69.705 km,05/2015,Benzin,Automatik,155 kW (211 PS),1.991 cm³,Neu,24568.0,Weiß,2.0,Kombi,5.0,4/5,Euro6,4 (Grün),Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Braun","ABS,Abstandstempomat,Adaptives Kurvenlicht,All...",2092015.0
197,Volkswagen,T6 Multivan,72.990 €,10.146 km,09/2020,Diesel,Automatik,146 kW (199 PS),1.968 cm³,Neu,94146.0,Schwarz Metallic,NaN,Van / Minibus,7.0,4/5,Euro6d-TEMP,NaN,Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Abstandstempomat,Abstandswarner,Alarmanlag...",6982492.0
198,Volkswagen,Golf,17.750 €,73.200 km,02/2018,Benzin,Schaltgetriebe,110 kW (150 PS),1.498 cm³,Neu,91207.0,Grau,1.0,Kombi,5.0,4/5,Euro6c,4 (Grün),2-Zonen-Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandstempomat,Armlehne,Bluetooth,Bordco...",5484561.0
199,BMW,428,24.900 €,59.082 km,09/2013,"Benzin, E10-geeignet",Schaltgetriebe,180 kW (245 PS),1.997 cm³,Neu,12683.0,Schwarz Metallic,NaN,Sportwagen / Coupé,4.0,2/3,Euro6,4 (Grün),2-Zonen-Klimaautomatik,"Vorne, Hinten","Front-, Seiten- und weitere Airbags","Alcantara, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras...",9775120.0

#### 2) Ich prüfe dass auch wirklich jede car_id unique ist. Es ist zwar unwahrscheinlich, dass bei einer Range von 9.000.000 Zahlen eine Zahl bei 200 Autos doppelt vorkommt, aber sicher ist sicher

In [95]:
len(df_conc.car_id.unique())

200

#### 3) Zudem prüfe ich, dass keine car_id `Nan` ist.

In [96]:
df_conc.car_id.isnull().unique()

array([False])

#### 4) Als letztes schieb ich die Spalte `car_id` an die erste Position

In [97]:
car_id = df_conc['car_id']
df_conc.drop(labels=['car_id'], axis=1,inplace = True)
df_conc.insert(0, 'car_id', car_id)

In [98]:
df_conc.head()

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,einparkhilfe,airbags,innenausstattung,ausstattung
0,4468601.0,Volkswagen,Beetle,9.890 €,119.699 km,06/2012,"Benzin, E10-geeignet",Schaltgetriebe,77 kW (105 PS),1.197 cm³,Neu,13088.0,Gelb,2.0,Limousine,4.0,2/3,Euro5,4 (Grün),Klimaanlage,NaN,"Front-, Seiten- und weitere Airbags",Schwarz,"ABS,Ambiente-Beleuchtung,CD-Spieler,Elektr. Fe..."
1,1930240.0,Mercedes-Benz,GLK 250,16.998 €,60.000 km,10/2011,Diesel,Automatik,150 kW (204 PS),2.143 cm³,10/2022,13089.0,Silber Metallic,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,Hinten,"Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Allradantrieb,Armlehne,Berganfahrassistent..."
2,4496368.0,Mercedes-Benz,S 500,29.870 €,69.500 km,06/2010,Benzin,Automatik,320 kW (435 PS),4.663 cm³,Neu,41564.0,Grau Metallic,3.0,Limousine,5.0,4/5,Euro5,4 (Grün),4-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera, Selbstlenkende Systeme","Front-, Seiten- und weitere Airbags","Vollleder, Grau","ABS,Abstandstempomat,Abstandswarner,Adaptives ..."
3,3358847.0,Volkswagen,Tiguan,24.390 €,114.112 km,05/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,06/2023,25746.0,Schwarz,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro6,4 (Grün),3-Zonen-Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Stoff, Schwarz","ABS,Abstandstempomat,Alarmanlage,Allradantrieb..."
4,8465295.0,Volkswagen,Golf,19.900 €,96.000 km,05/2011,Benzin,Schaltgetriebe,199 kW (271 PS),1.984 cm³,Neu,86807.0,Blau Metallic,2.0,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vorne, Hinten, Kamera","Front-, Seiten- und weitere Airbags","Vollleder, Schwarz","ABS,Alarmanlage,Allradantrieb,Armlehne,Berganf..."

#### 5) Aufteilung der Daten in zwei `DataFrames`. Einmal `df_cars` welches `car_id`, `marke` und `modell` beinhaltet und einmal `df_car_details` welches `car_id`, `preis` und `kilometer` beinhaltet

In [99]:
df_cars = df_conc[['car_id', 'marke', 'modell']]
df_cars.head()

      car_id          marke   modell
0  4468601.0     Volkswagen   Beetle
1  1930240.0  Mercedes-Benz  GLK 250
2  4496368.0  Mercedes-Benz    S 500
3  3358847.0     Volkswagen   Tiguan
4  8465295.0     Volkswagen     Golf

In [100]:
df_car_details = df_conc[['car_id', 'preis', 'kilometer']]
df_car_details.head()

      car_id     preis   kilometer
0  4468601.0   9.890 €  119.699 km
1  1930240.0  16.998 €   60.000 km
2  4496368.0  29.870 €   69.500 km
3  3358847.0  24.390 €  114.112 km
4  8465295.0  19.900 €   96.000 km

#### 6) Am Schluss mische ich die DataFrames einmal random durch, sodass nichts mehr manuell zugewiesen werden kann

In [101]:
df_cars = df_cars.sample(frac=1)
df_cars.head()

        car_id          marke   modell
148  5809892.0  Mercedes-Benz  GLA 200
11   5754247.0     Volkswagen     Golf
133  9693068.0           Audi       A6
77   3894333.0            BMW      116
67   1381852.0            BMW       X3

In [102]:
df_car_details = df_car_details.sample(frac=1)
df_car_details.head()

        car_id     preis   kilometer
79   2795295.0  16.430 €  111.452 km
195  1388892.0   6.999 €   89.893 km
169  7450858.0  25.950 €   97.656 km
133  9693068.0  20.995 €  113.603 km
31   7870690.0  11.499 €   98.000 km

#### 7) Es werden nur 73 Zeilen des `DataFrames` `df_car_details` genommen

In [103]:
df_car_details = df_car_details[:73]

In [104]:
df_car_details.shape

(73, 3)

***

### 5) (S) Szenario: 
#### Aktuell benutzt unsere Marketingabteilung eine Datei namens `df_cars` welche lediglich Daten zum Auto beinhaltet wie Marke und Modell. Die Abteilung Einkauf benutzt eine andere Datei (`df_car_details`)um Preise unterschiedlicher Autos zu vergleichen, wobei hier lediglich die KM Anzahl eine Rolle spielt. Um genauere Analysen machen zu können, müssen wir die beiden `DataFrames` miteinander kombinieren. Die Gemeinsamkeit beider `DataFrames` ist die Spalte `car_id`. Diese beinhaltet immer einen genauen Identifizierungsschlüssel und symbolisiert in jedem der beiden `DataFrames` ein und das selbe Auto. Deine Aufgabe ist es einen Weg zu finden, die beiden `DataFrames` miteiander zu verbinden um ein großes `DataFrame` namens `df_joined` zu erhalten. Beachte, dass das `DataFrame` `df_car_details` beschädigt wurde und nicht mehr über alle Zeilen verfügt.

In [105]:
df_joined = df_cars.join(df_car_details.set_index('car_id'), on="car_id")

In [106]:
df_joined

        car_id          marke          modell     preis   kilometer
148  5809892.0  Mercedes-Benz         GLA 200       NaN         NaN
11   5754247.0     Volkswagen            Golf       NaN         NaN
133  9693068.0           Audi              A6  20.995 €  113.603 km
77   3894333.0            BMW             116  11.490 €  123.700 km
67   1381852.0            BMW              X3       NaN         NaN
..         ...            ...             ...       ...         ...
30   2612233.0     Volkswagen  Golf Sportsvan  11.900 €   97.980 km
6    8251122.0  Mercedes-Benz           C 220  12.999 €  126.000 km
45   4983233.0  Mercedes-Benz         GLK 220       NaN         NaN
170  2102746.0     Volkswagen            Polo       NaN         NaN
153  2580910.0     Volkswagen              CC       NaN         NaN

[200 rows x 5 columns]

### 6) (L) Sortier den Index aufsteigend und vergleiche das `DataFrame` `df_joined` mit dem erstellten `DataFrame` `df_conc`. Wähle beim `df_conc` lediglich die Spalten `car_id`, `marke`, `modell`, `preis` und `kilometer` aus.

In [107]:
df_joined.sort_index()

        car_id          marke       modell     preis   kilometer
0    4468601.0     Volkswagen       Beetle   9.890 €  119.699 km
1    1930240.0  Mercedes-Benz      GLK 250       NaN         NaN
2    4496368.0  Mercedes-Benz        S 500       NaN         NaN
3    3358847.0     Volkswagen       Tiguan       NaN         NaN
4    8465295.0     Volkswagen         Golf  19.900 €   96.000 km
..         ...            ...          ...       ...         ...
195  1388892.0     Volkswagen         Golf   6.999 €   89.893 km
196  2092015.0  Mercedes-Benz      CLA 250       NaN         NaN
197  6982492.0     Volkswagen  T6 Multivan       NaN         NaN
198  5484561.0     Volkswagen         Golf  17.750 €   73.200 km
199  9775120.0            BMW          428  24.900 €   59.082 km

[200 rows x 5 columns]

In [108]:
df_conc[['car_id', 'marke', 'modell', 'preis', 'kilometer']]

        car_id          marke       modell     preis   kilometer
0    4468601.0     Volkswagen       Beetle   9.890 €  119.699 km
1    1930240.0  Mercedes-Benz      GLK 250  16.998 €   60.000 km
2    4496368.0  Mercedes-Benz        S 500  29.870 €   69.500 km
3    3358847.0     Volkswagen       Tiguan  24.390 €  114.112 km
4    8465295.0     Volkswagen         Golf  19.900 €   96.000 km
..         ...            ...          ...       ...         ...
195  1388892.0     Volkswagen         Golf   6.999 €   89.893 km
196  2092015.0  Mercedes-Benz      CLA 250  24.900 €   69.705 km
197  6982492.0     Volkswagen  T6 Multivan  72.990 €   10.146 km
198  5484561.0     Volkswagen         Golf  17.750 €   73.200 km
199  9775120.0            BMW          428  24.900 €   59.082 km

[200 rows x 5 columns]