#  <center> <u>Übung:</u> Pandas Merging

### 1) (L) Importiere `Pandas` und lade die beiden Datensätze von `uebung/merge/df_car_basics.csv`  und `uebung/merge/df_car_infos.csv` und lass dir den `Kopf` sowie die `Shape` ausgeben

In [91]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [92]:
df_car_basics = pd.read_csv('./uebung/merge/df_car_basics.csv', index_col=0)
df_car_basics.head()

,car_id,marke,modell,preis,kilometer
1000,7d7d2860-8660-4aba-ba7d-8c6655750012,Volkswagen,CC,15.500 €,91.000 km
1001,4021516b-0987-4a69-bdd8-13c6427d1db9,Volkswagen,Golf,14.900 €,93.500 km
1002,5073654f-506b-4b72-8d7c-a224d6f38ccb,NaN,NaN,NaN,NaN
1003,4a7f6483-31c3-4d88-8d3a-874549d3066d,Volkswagen,Sharan,17.000 €,114.000 km
1004,9bdf7e39-08cf-47a3-87dd-54f7a93c788f,Audi,A4,17.990 €,96.500 km

In [93]:
df_car_basics.shape

(9000, 5)

In [94]:
df_car_infos = pd.read_csv('./uebung/merge/df_car_infos.csv', index_col=0)
df_car_infos.head()

,car_id,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,d01f7c7c-1e51-456f-9405-87559094d6b7,02/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,Grau Metallic
1,db065eed-b9be-4e2a-b41e-71458ac77c14,11/2011,Diesel,Automatik,135 kW (184 PS),1.995 cm³,Schwarz Metallic
2,d1fba947-f23b-4a0a-a828-5aee99f8ba7d,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic
3,0cdcdc1b-b435-48bd-8466-4077d4688446,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
4,065de1fc-a6b8-41ce-a308-a2fe546262f2,04/2017,Diesel,Automatik,130 kW (177 PS),2.143 cm³,Schwarz Metallic

In [95]:
df_car_infos.shape

(7000, 7)

***

### 2) (M) Merge die beiden `DataFrames` (`df_result1`), sodass das resultierende `DataFrame` lediglich die übereinstimmenden Zeilen beider `DataFrames` beinhaltet
##### Identische Spalte in beiden: car_id

In [96]:
df_result1 = pd.merge(df_car_basics,
                      df_car_infos,
                      on='car_id',
                      how='inner')

In [97]:
df_result1

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,4021516b-0987-4a69-bdd8-13c6427d1db9,Volkswagen,Golf,14.900 €,93.500 km,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic
1,4a7f6483-31c3-4d88-8d3a-874549d3066d,Volkswagen,Sharan,17.000 €,114.000 km,06/2012,Diesel,Automatik,125 kW (170 PS),1.968 cm³,Silber Metallic
2,9bdf7e39-08cf-47a3-87dd-54f7a93c788f,Audi,A4,17.990 €,96.500 km,07/2013,Benzin,Automatik,165 kW (224 PS),1.984 cm³,Rot Metallic
3,6019c693-db7c-4ad6-bee2-4c0ce9312253,Audi,A3,16.490 €,85.051 km,05/2012,Diesel,Schaltgetriebe,103 kW (140 PS),1.968 cm³,Silber Metallic
4,bbb6bbae-d6df-4d74-bc9b-65df0fd5da91,Volkswagen,Golf,12.950 €,84.500 km,11/2014,Benzin,Schaltgetriebe,110 kW (150 PS),1.395 cm³,Schwarz Metallic
...,...,...,...,...,...,...,...,...,...,...,...
6282,d326ec93-c712-42d7-8309-b7be2561f63d,Audi,A3,16.490 €,85.051 km,05/2012,Diesel,Schaltgetriebe,103 kW (140 PS),1.968 cm³,Silber Metallic
6283,26648124-5076-4b90-b219-435adf1993fa,Volkswagen,Caddy,15.890 €,111.418 km,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic
6284,c93fd480-21c8-4eed-95d4-104a27a1516e,Subaru,Impreza,6.900 €,162.351 km,08/2008,Autogas (LPG),Schaltgetriebe,110 kW (150 PS),1.994 cm³,Grau Metallic
6285,54f1a5c7-9a9b-465c-bb70-0a5683f60dbf,Volkswagen,Golf,10.990 €,81.576 km,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
6286,c948fd2d-89f9-4102-9c1e-f4e1aefcd542,Volkswagen,Golf,14.900 €,93.500 km,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic

***

### 3) (M) Merge die beiden `DataFrames` (`df_result2`), sodass das resultierende `DataFrame` alle Zeilen des `df_car_basics` beinhaltet sowie die passenden Spalten von `df_car_infos`

### Frage: Aus wievielen Zeilen muss `df_result2` zwangsläufig bestehen?

##### Identische Spalte in beiden: car_id

In [98]:
df_result2 = pd.merge(df_car_basics,
                      df_car_infos,
                      on='car_id', 
                      how='left')

In [99]:
df_result2

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,7d7d2860-8660-4aba-ba7d-8c6655750012,Volkswagen,CC,15.500 €,91.000 km,NaN,NaN,NaN,NaN,NaN,NaN
1,4021516b-0987-4a69-bdd8-13c6427d1db9,Volkswagen,Golf,14.900 €,93.500 km,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic
2,5073654f-506b-4b72-8d7c-a224d6f38ccb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4a7f6483-31c3-4d88-8d3a-874549d3066d,Volkswagen,Sharan,17.000 €,114.000 km,06/2012,Diesel,Automatik,125 kW (170 PS),1.968 cm³,Silber Metallic
4,9bdf7e39-08cf-47a3-87dd-54f7a93c788f,Audi,A4,17.990 €,96.500 km,07/2013,Benzin,Automatik,165 kW (224 PS),1.984 cm³,Rot Metallic
...,...,...,...,...,...,...,...,...,...,...,...
8995,26648124-5076-4b90-b219-435adf1993fa,Volkswagen,Caddy,15.890 €,111.418 km,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic
8996,b4e30b8b-891a-4462-bc8e-9c198847a3fb,Volkswagen,Golf,14.900 €,93.500 km,NaN,NaN,NaN,NaN,NaN,NaN
8997,c93fd480-21c8-4eed-95d4-104a27a1516e,Subaru,Impreza,6.900 €,162.351 km,08/2008,Autogas (LPG),Schaltgetriebe,110 kW (150 PS),1.994 cm³,Grau Metallic
8998,54f1a5c7-9a9b-465c-bb70-0a5683f60dbf,Volkswagen,Golf,10.990 €,81.576 km,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
8999,c948fd2d-89f9-4102-9c1e-f4e1aefcd542,Volkswagen,Golf,14.900 €,93.500 km,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic

***

### 4) (M) Merge die beiden `DataFrames` (`df_result3`), sodass das resultierende `DataFrame` alle Zeilen des `df_car_infos` beinhaltet, sowie die passenden Spalten von `df_car_basics`

### Frage: Aus wievielen Zeilen muss `df_result3` zwangsläufig bestehen?

##### Identische Spalte in beiden: car_id

In [100]:
df_result3 = pd.merge(df_car_basics,
                      df_car_infos,
                      on='car_id', 
                      how='right')

In [101]:
df_result3

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,d01f7c7c-1e51-456f-9405-87559094d6b7,Volkswagen,Golf,16.430 €,88.000 km,02/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,Grau Metallic
1,db065eed-b9be-4e2a-b41e-71458ac77c14,BMW,320,14.749 €,94.505 km,11/2011,Diesel,Automatik,135 kW (184 PS),1.995 cm³,Schwarz Metallic
2,d1fba947-f23b-4a0a-a828-5aee99f8ba7d,Volkswagen,Caddy,15.890 €,111.418 km,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic
3,0cdcdc1b-b435-48bd-8466-4077d4688446,Volkswagen,Golf,10.990 €,81.576 km,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
4,065de1fc-a6b8-41ce-a308-a2fe546262f2,Mercedes-Benz,GLA 220,29.879 €,84.848 km,04/2017,Diesel,Automatik,130 kW (177 PS),2.143 cm³,Schwarz Metallic
...,...,...,...,...,...,...,...,...,...,...,...
6995,cbfbb043-e80f-4111-a5af-600376c7ab4c,Mercedes-Benz,B 180,12.750 €,68.500 km,05/2012,"Benzin, E10-geeignet",Schaltgetriebe,90 kW (122 PS),1.595 cm³,Grau Metallic
6996,0e238744-4a34-46a0-b17d-fe3eba1319b0,Volkswagen,Golf,10.990 €,81.576 km,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
6997,6c7d5831-4c8b-4a72-9d0b-56283240f85b,BMW,530,21.990 €,91.812 km,03/2012,Diesel,Automatik,190 kW (258 PS),2.993 cm³,Blau Metallic
6998,e348a521-0521-4aba-9e4e-a7ff1edda7b5,Audi,A4,17.990 €,96.500 km,07/2013,Benzin,Automatik,165 kW (224 PS),1.984 cm³,Rot Metallic
6999,5aa010ae-9d6c-4f7a-b2c1-d1dd88983300,Volkswagen,Golf,12.950 €,84.500 km,11/2014,Benzin,Schaltgetriebe,110 kW (150 PS),1.395 cm³,Schwarz Metallic

***

### 5) (L) Ändere den Namen der Spalte `car_id` des `DataFrames` `df_car_infos`. Der neue Name soll `unique_car_id` lauten

In [102]:
df_car_infos = df_car_infos.rename(columns={'car_id': 'unique_car_id'})
df_car_infos.head(3)

,unique_car_id,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,d01f7c7c-1e51-456f-9405-87559094d6b7,02/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,Grau Metallic
1,db065eed-b9be-4e2a-b41e-71458ac77c14,11/2011,Diesel,Automatik,135 kW (184 PS),1.995 cm³,Schwarz Metallic
2,d1fba947-f23b-4a0a-a828-5aee99f8ba7d,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic

***

### 6) (S): Extrahiere alle Autos der Marke `Volkswagen` aus dem `DataFrame` `df_car_basics` und speicher diese in ein neues `DataFrame` namens `df_volkswagen` wobei Zeilen mit `Nan` Values direkt gelöscht werden sollen. Merge `df_volkswagen` mit dem `DataFrame` `df_car_infos` zu einem neuen `DataFrame` namens `df_merged_volkswagen`. 

### <u>Für wieviele Fahrzeuge **liegen keine weiteren Informationen** vor?</u>

In [110]:
df_volkswagen = df_car_basics.query('marke == "Volkswagen"').dropna()
df_volkswagen

,car_id,marke,modell,preis,kilometer
1000,7d7d2860-8660-4aba-ba7d-8c6655750012,Volkswagen,CC,15.500 €,91.000 km
1001,4021516b-0987-4a69-bdd8-13c6427d1db9,Volkswagen,Golf,14.900 €,93.500 km
1003,4a7f6483-31c3-4d88-8d3a-874549d3066d,Volkswagen,Sharan,17.000 €,114.000 km
1006,bbb6bbae-d6df-4d74-bc9b-65df0fd5da91,Volkswagen,Golf,12.950 €,84.500 km
1008,1bd2f2e3-5795-41af-a985-54f57fbdf077,Volkswagen,Golf,17.350 €,98.936 km
...,...,...,...,...,...
9991,198810de-78f8-48bb-8e1f-cdcc900b8603,Volkswagen,Golf,12.950 €,84.500 km
9995,26648124-5076-4b90-b219-435adf1993fa,Volkswagen,Caddy,15.890 €,111.418 km
9996,b4e30b8b-891a-4462-bc8e-9c198847a3fb,Volkswagen,Golf,14.900 €,93.500 km
9998,54f1a5c7-9a9b-465c-bb70-0a5683f60dbf,Volkswagen,Golf,10.990 €,81.576 km
9999,c948fd2d-89f9-4102-9c1e-f4e1aefcd542,Volkswagen,Golf,14.900 €,93.500 km

In [111]:
df_merged_volkswagen = pd.merge(df_volkswagen,
                                df_car_infos,
                                how='left',
                                left_on='car_id',
                                right_on='unique_car_id')

In [112]:
df_merged_volkswagen

,car_id,marke,modell,preis,kilometer,unique_car_id,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,farbe
0,7d7d2860-8660-4aba-ba7d-8c6655750012,Volkswagen,CC,15.500 €,91.000 km,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4021516b-0987-4a69-bdd8-13c6427d1db9,Volkswagen,Golf,14.900 €,93.500 km,4021516b-0987-4a69-bdd8-13c6427d1db9,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic
2,4a7f6483-31c3-4d88-8d3a-874549d3066d,Volkswagen,Sharan,17.000 €,114.000 km,4a7f6483-31c3-4d88-8d3a-874549d3066d,06/2012,Diesel,Automatik,125 kW (170 PS),1.968 cm³,Silber Metallic
3,bbb6bbae-d6df-4d74-bc9b-65df0fd5da91,Volkswagen,Golf,12.950 €,84.500 km,bbb6bbae-d6df-4d74-bc9b-65df0fd5da91,11/2014,Benzin,Schaltgetriebe,110 kW (150 PS),1.395 cm³,Schwarz Metallic
4,1bd2f2e3-5795-41af-a985-54f57fbdf077,Volkswagen,Golf,17.350 €,98.936 km,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5663,198810de-78f8-48bb-8e1f-cdcc900b8603,Volkswagen,Golf,12.950 €,84.500 km,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5664,26648124-5076-4b90-b219-435adf1993fa,Volkswagen,Caddy,15.890 €,111.418 km,26648124-5076-4b90-b219-435adf1993fa,01/2011,Diesel,Schaltgetriebe,81 kW (110 PS),1.968 cm³,Schwarz Metallic
5665,b4e30b8b-891a-4462-bc8e-9c198847a3fb,Volkswagen,Golf,14.900 €,93.500 km,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5666,54f1a5c7-9a9b-465c-bb70-0a5683f60dbf,Volkswagen,Golf,10.990 €,81.576 km,54f1a5c7-9a9b-465c-bb70-0a5683f60dbf,07/2013,Benzin,Schaltgetriebe,90 kW (122 PS),1.390 cm³,Grau Metallic
5667,c948fd2d-89f9-4102-9c1e-f4e1aefcd542,Volkswagen,Golf,14.900 €,93.500 km,c948fd2d-89f9-4102-9c1e-f4e1aefcd542,09/2013,Benzin,Automatik,90 kW (122 PS),1.395 cm³,Blau Metallic

In [133]:
len(df_merged_volkswagen[df_merged_volkswagen.unique_car_id.isna()])

1705

***

### 7) (S) Extrahiere alle Fahrezeuge der Marke `BMW`, lösche alle Zeilen welche `Nan` Values enthalten und speicher die übrigen Zeilen in ein neues `DataFrame` namens `df_bmw`. Merge dieses `DataFrame` mit `df_car_infos` wobei lediglich die Zeilen gemerged werden sollen, welche in beiden `DataFrames` vorkommen. Zudem soll das resultierende `DataFrame` nur aus den Spalten `'car_id', 'modell', 'preis'` von `df_bmw` bestehen sowie den Spalten `'unique_car_id', 'erstzulassung'` des `DataFrames` `df_car_infos`

In [134]:
df_bmw = df_car_basics.query('marke == "BMW"').dropna()

In [135]:
df_bmw

                                    car_id marke modell     preis  kilometer
1007  15eddd70-2a35-4b49-ba90-44140d0cd102   BMW    530  21.990 €  91.812 km
1011  0d840f32-fb12-4203-866d-a0d8d725c5cf   BMW    320  14.749 €  94.505 km
1020  0dd5d747-b9e1-4141-bf7d-8b9b9d77098a   BMW    530  21.990 €  91.812 km
1024  8334160d-1a8d-4481-9cdb-b68a3779d944   BMW    320  14.749 €  94.505 km
1029  7cbc7113-4707-477f-86ee-80f8f0b39e20   BMW    320  14.749 €  94.505 km
...                                    ...   ...    ...       ...        ...
9936  3d766220-f306-4f86-b33e-e4f9beeb2de1   BMW    320  14.749 €  94.505 km
9942  4034a50a-33b7-4fe1-ba5c-6bf6f133b297   BMW    320  14.749 €  94.505 km
9954  3b7e06fe-006a-423d-ae62-1ee961c55725   BMW    530  21.990 €  91.812 km
9970  f2c8ad47-edf0-44d1-a1ae-a8f9afedee55   BMW    530  21.990 €  91.812 km
9974  ec993ca1-50d4-4e1f-99e1-181faee7ca63   BMW    530  21.990 €  91.812 km

[849 rows x 5 columns]

In [139]:
df_bmw_merged = pd.merge(df_bmw[['car_id', 'modell', 'preis']],
                         df_car_infos[['unique_car_id', 'erstzulassung']],
                         how='inner',
                         left_on='car_id',
                         right_on='unique_car_id')

In [140]:
df_bmw_merged

,car_id,modell,preis,unique_car_id,erstzulassung
0,892efb4f-6bcb-420b-8b4a-9752de5f22c9,320,14.749 €,892efb4f-6bcb-420b-8b4a-9752de5f22c9,11/2011
1,f17bf825-4dda-43f2-9f74-49c7875496df,320,14.749 €,f17bf825-4dda-43f2-9f74-49c7875496df,11/2011
2,fad5759b-3158-488c-b577-055db7262479,320,14.749 €,fad5759b-3158-488c-b577-055db7262479,11/2011
3,d4849ac2-bde7-464d-abb4-2e3247e95a55,530,21.990 €,d4849ac2-bde7-464d-abb4-2e3247e95a55,03/2012
4,bf31a039-2751-4066-9862-04073df5b06a,320,14.749 €,bf31a039-2751-4066-9862-04073df5b06a,11/2011
...,...,...,...,...,...
586,1bc5bd60-04f8-4d42-8f7d-6eeb2faa2fd5,530,21.990 €,1bc5bd60-04f8-4d42-8f7d-6eeb2faa2fd5,03/2012
587,9a234761-1520-42da-b66e-62fdf9ccf053,530,21.990 €,9a234761-1520-42da-b66e-62fdf9ccf053,03/2012
588,3d766220-f306-4f86-b33e-e4f9beeb2de1,320,14.749 €,3d766220-f306-4f86-b33e-e4f9beeb2de1,11/2011
589,4034a50a-33b7-4fe1-ba5c-6bf6f133b297,320,14.749 €,4034a50a-33b7-4fe1-ba5c-6bf6f133b297,2011/11
590,f2c8ad47-edf0-44d1-a1ae-a8f9afedee55,530,21.990 €,f2c8ad47-edf0-44d1-a1ae-a8f9afedee55,03/2012